In [1]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np
from datetime import datetime
from scrape_cars import scrape_cars

In [16]:
pd.read_csv('cars_history.csv')

,Unnamed: 0,title,mileage,price,distance,date_accessed
0,NaN,2015 Honda Civic EX,108597.0,13680.0,75.0,2022-09-19 16 hrs
1,NaN,2015 Honda Civic LX,111341.0,12450.0,NaN,2022-09-19 16 hrs
2,NaN,2014 Honda Civic LX,93949.0,12999.0,76.0,2022-09-19 16 hrs
3,NaN,2014 Honda Civic LX,111461.0,12495.0,85.0,2022-09-19 16 hrs
4,NaN,2012 Honda Civic LX,107000.0,8810.0,82.0,2022-09-19 16 hrs
...,...,...,...,...,...,...
138,NaN,2015 Toyota Prius c Four,180555.0,13436.0,85.0,2022-09-19 17 hrs
139,NaN,2015 Toyota Prius Two,186132.0,11998.0,86.0,2022-09-19 17 hrs
140,NaN,2015 Toyota Prius c One,115435.0,14000.0,84.0,2022-09-19 17 hrs
141,NaN,2015 Toyota Prius Two,154925.0,12995.0,91.0,2022-09-19 17 hrs
142,NaN,2017 Toyota Prius c One,157728.0,11995.0,75.0,2022-09-19 17 hrs

In [12]:
pd.DataFrame().to_csv('cars_history.csv')